<div class="row" id="row-promo-slide" style="background-color: aliceblue; text-align: center;">
    <div id="blueimp-image-carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="col-clubs-grid" style="background-color: aqua; text-align: center;">Favorite Clubs Grid</div>
</div>
<div class="row">
    <div class="col-md-3" id="col-payment-method" style="background-color: aquamarine; text-align: center;">Payment Method column</div>
    <div class="col-md-3" id="col-shiptrack-status" style="background-color: azure; text-align: center;">Shipment Track column</div>
    <div class="col-md-3" id="col-kontak" style="background-color: beige; text-align: center; ">Contact column</div>
    <div class="col-md-3" id="col-testi-slide" style="background-color: bisque; text-align: center;">Testimonial Slideshow column</div>
</div>
